.bluesection {
  background-color: #1c75de;
  text-align: center;
  width: 100%;
  min-height: 350px;
  padding: 25px;
  color: #ffffff;
}
span {
  text-decoration: underline;
}
.terms {
  margin-top: 50px;
  font-size: x-small;
}
button {
  padding: 20px;
  border-radius: 25px;
  border: none;
  color: white;
  margin-top: 25px;
  margin-right: 15px;
  font-weight: bold;
  cursor: pointer;
}
h1 {
  margin-top: 50px;
}
p {
  margin-top: 30px;
}
@media (max-width: 500px) {
  button {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}