.hero{
    background-color: #1D75DE;
    padding: 5em;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.2em;
}
.button-container{
    display: flex;
    gap: .3em;
}
.hero p:last-of-type a{
    color: #fff;
}
.hero p:last-of-type{
    font-size: 0.57rem;
}
